[user]
    name = Brian Rutledge
    email = brian@bhrutledge.com
    signingkey = 328C6FC0D392D822E709A1A6D411764EE1DA4B90
[init]
    defaultBranch = main
[core]
    autocrlf = input
    safecrlf = true
[fetch]
    prune = true
[pull]
    ff = only
[commit]
    gpgsign = true
[rebase]
    autoSquash = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[alias]
    aliases = config --get-regexp ^alias
    branches = branch --all --sort=-committerdate --sort=refname:rstrip=1 --format='\
%(refname:short) \
%(color:dim)%(committerdate:short)%(color:reset) \
%(color:red)%(upstream:trackshort)\
%(if:notequals=origin)%(upstream:remotename)%(then)%(upstream:remotename)%(end)\
%(color:reset) \
%(color:cyan bold)%(if)%(HEAD)%(then)%(HEAD)%(end)%(color:reset)\
'
    # Status
    head = rev-parse --abbrev-ref HEAD
    sha = rev-parse HEAD
    root = rev-parse --show-toplevel
    stat = status --short
    hist = log --pretty='format:%C(auto)%h %C(dim)%cs %C(auto)%s%d' -n 10
    # File lists
    staged = diff --name-only --staged
    modified = ls-files --modified
    new = ls-files --others --exclude-standard
    files = diff-tree --no-commit-id --name-only -r
    # Remotes
    publish = push --set-upstream origin HEAD
    upstream = rev-parse --abbrev-ref @{upstream}
    sync = !git pull --ff-only upstream $(git head) && git publish
    # Misc
    changelog = git log $(git describe --tags --abbrev=0)..HEAD --first-parent --pretty=%s
    fixup = commit --fixup
    amend = commit --amend --no-edit
[difftool]
    prompt = false
[mergetool]
    prompt = false
