<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>local.ttyd.brian</string>

        <key>ProgramArguments</key>
        <array>
            <string>/usr/local/bin/ttyd</string>
            <string>--interface</string>
            <string>127.0.0.1</string>
            <string>--client-option</string>
            <string>disableLeaveAlert=true</string>
            <string>--client-option</string>
            <string>fontSize=16</string>
            <string>/usr/local/bin/bash</string>
            <string>-l</string>
        </array>

        <key>RunAtLoad</key>
        <true/>

        <key>KeepAlive</key>
        <true/>

        <key>WorkingDirectory</key>
        <string>/Users/brian</string>

        <key>StandardOutPath</key>
        <string>/Users/brian/Library/Logs/local.ttyd.brian.log</string>

        <key>StandardErrorPath</key>
        <string>/Users/brian/Library/Logs/local.ttyd.brian.log</string>
    </dict>
</plist>
